@model TinyShelterPage.Models.AnimalListModel

@{
    ViewBag.Title = "Animals";
}

<h2>Animals</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Pets waiting to be Adopted</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Animal.Count; i++)
        {

        <tr>
            <td>@Model.Animal[i].Name</td>
            <td>@Model.Animal[i].Type</td>
            <td>@Model.Animal[i].Age</td>
        </tr>
        }
    </tbody>
</table>

		Total Pets: @Model.TotalAnimal

