

@{
    ViewBag.Title = "Index";
}

<h2>Tiny Shelter</h2>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-4 image1">
            <img src="~/Images/Dog1.jpg" alt="Dog">


        </div>
        <div class="col-xs-12 col-sm-4">
            @Html.ActionLink("Pets waiting to be Adopted", "Index", "Animals")

        </div>
        <div class="col-xs-12 col-sm-4 image1">
            <img src="~/Images/Cat5.jpg" alt="Cat">

        </div>
    </div>

</div>

